.divMessage{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.message{
    color:black;
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    font-size: 20px;
    transform: none;
    font-weight: bold;
    animation:start 4s infinite ease-in-out reverse 1s;
}
@keyframes start {
    0%{background-color: aquamarine;}
    25%{background-color: rgb(106, 150, 216);}
    50%{background-color: rgb(169, 185, 124);}
    100%{background-color: rgb(127, 99, 179);}
    /* 100%{transform: rotate(.5deg);} */
}